<div class="row no-gutters gx-0">
    <div class="col-md-12">
        <header class="banner">
            <div class="logo">
                <div class="company-info">
                    <h1>Financiera LUZMARY</h1>
                </div>
            </div>
        </header>
        <nav class="navbar1 navbarsin">
            <div id="diagonal" class="diagonal2 text-center text-white">
                <span class="fw-semibold" style="font-size: 0.9rem;">
                    Menu
                </span>
            </div>
            <ul class="nav3 navbar-nav3">
                <li class="iconosmenu">
                    <a href="#" class="btn-hide-sidebar" (click)="alternarSideBar($event)">
                        <img src="{{cdn}}images/contraer.svg" class="tam_icono">
                    </a>
                </li>
                <li class="iconosmenu">
                    <a href="#">
                        <img src="{{cdn}}images/dashboard.svg" class="tam_icono">
                    </a>
                </li>
                <li class="iconosmenu">
                    <a href="{{config.Login}}/dashboard">
                        <img src="{{cdn}}images/menu.svg" class="tam_icono">
                    </a>
                </li>
            </ul>
            <ul class="nav4 navbar-nav4">
                <li class="nav-item dropdown usermenudrop" dropdown placement="bottom right" *ngIf="usuario">
                    <a class="mi-navlink" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                        aria-expanded="false" dropdownToggle (click)="false">
                        <span class="user-name"> {{usuario.Persona.primer_nombre}} {{usuario.Persona.primer_apellido}}
                        </span>
                        <img src="{{cdn}}images/avatar.svg" class="iconodrop">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown"
                        style="padding: 0 !important;">
                        <li class="user-header">
                            <img src="{{cdn}}images/avatar.svg" alt="User Image">
                            <p class="fw-semibold">
                                {{usuario.Persona.primer_nombre}} {{usuario.Persona.primer_apellido}}
                                <span class="num_cedula">
                                    <small>Usuario: {{usuario.Persona.num_identificacion}}</small>
                                </span>
                            </p>
                        </li>
                        <li class="user-footer d-flex justify-content-between">
                            <button class="btn btn-primary btn-sm" (click)="cambiarContra()"
                                style="font-size: 11px;">Cambiar
                                contraseña</button>

                            <button class="btn btn-danger btn-sm" (click)="cerrarSesion()"
                                style="font-size: 11px;">Cerrar
                                sesión</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>


<div class="wrapper">
    <aside id="sidebar">

        <ul class="sidebar-nav " *ngIf="verSidebar">
            <li class="text-center" style="padding-bottom: 0.5rem;">
                <span *ngIf="contraer" class="sidebar-link text-white fw-semibold" style="font-size: 0.9rem;">
                    Administrador
                </span>
            </li>

            <li class="sidebar-item" *ngFor="let ruta of rutasSidebar; let i = index"
                [routerLinkActive]="['active', 'sidebar-active']">
                <a href="#" class="sidebar-link align-items-center" *ngIf="ruta.hijos.length == 0"
                    [routerLink]="ruta.direccion_ruta">
                    <i class="pi pi-angle-right"></i>
                    <span>{{ruta.detalle_nivel}}</span>
                </a>
                <ng-container *ngIf="ruta.hijos.length > 0">

                    <a href="#" class="sidebar-link collapsed has-dropdown align-items-center" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#group-' + i" aria-expanded="false" [attr.aria-controls]="'group-' + i"
                        [routerLink]="ruta.direccion_ruta">
                        <i class="pi pi-folder"></i>
                        <span>{{ruta.detalle_nivel}}</span>
                    </a>

                    <ul [id]="'#group-' + i" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"
                        style="transition: all .25s ease-in-out;">
                        <li class="sidebar-item" *ngFor="let hijo of ruta.hijos"
                            [routerLinkActive]="['active', 'sidebar-active']">
                            <a href="#" class="sidebar-link" [routerLink]="hijo.direccion_ruta">{{hijo.descripcion}}</a>
                        </li>
                    </ul>

                </ng-container>
            </li>

            <!-- <li class="sidebar-item" *ngFor="let ruta of rutasSidebar; let i = index" routerLinkActive="active">
        <a href="#" class="sidebar-link align-items-center" *ngIf="ruta.hijos.length == 0" [routerLink]="ruta.direccion_ruta">
          <i class="pi pi-file"></i>
          <span>{{ruta.detalle_nivel}}</span>
        </a>
        <ng-container *ngIf="ruta.hijos.length > 0">

          <a href="#" class="sidebar-link collapsed has-dropdown align-items-center" data-bs-toggle="collapse"
            [attr.data-bs-target]="'#group-' + i" aria-expanded="false" [attr.aria-controls]="'group-' + i">
            <i class="pi pi-folder"></i>
            <span>{{ruta.detalle_nivel}}</span>
          </a>
          
          <ul [id]="'group-' + i" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"
            style="transition: all .25s ease-in-out;">
            <li class="sidebar-item" *ngFor="let hijo of ruta.hijos">
              <a href="#" class="sidebar-link">{{hijo.descripcion}}</a>
            </li>
          </ul>

        </ng-container>
      </li> -->

        </ul>
    </aside>
    <div class="main">
        <div class="container-fluid">
            <div class="content bodycontainer">
                <router-outlet></router-outlet>
            </div>
        </div>

        <footer class="row text-center border-top pt-2 mt-2">
            <div class="col-md-12">
                <span class="ml-auto footerb"><strong>SAPIENS</strong> - Sistema de Apoyo a Procesos Institucionales de
                    Educacion
                    Superior.</span>
                <span class="footera">&nbsp;&nbsp;Copyright &copy; {{year}} <a href="https://www.udenar.edu.co"
                        target="_blank">Universidad de Nariño</a>.</span>
            </div>
        </footer>

    </div>
</div>