<!-- <div class="row p-0 m-0">
    <img src="https://sapiens.udenar.edu.co:3026/cdn/images/foto_fondo_seguridad.jpg" alt="">
</div>
<div class="row">
    <div class="col-12 text-center">
        <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-user" />
            <input type="text" pInputText placeholder="Número de identificación" />
        </p-iconField>
    </div>
    <div class="col-12 text-center">
        <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-trash" />
            <input type="password" pInputText placeholder="Contraseña" />
        </p-iconField>
    </div>
</div> -->


<div class="row d-flex justify-content-center">
    <div class="bg-white p-5 rounded-5 text-secondary shadow col-12 "
        style="width: 25rem;">
            <div class="d-flex justify-content-center">
                <i class="pi pi-users" style="font-size: 5rem"></i>
            </div>
            <div class="text-center fs-1 fw-bold">Login</div>

            <!-- Input num identificacion -->
            <form id="loginForm">
                <div class="col-12 text-center pt-3">
                    <p-iconField iconPosition="left">
                        <p-inputIcon styleClass="pi pi-user" />
                        <input type="text" pInputText placeholder="Número de identificación" />
                    </p-iconField>
                </div>

                <!-- Input contraseña -->

                <div class="col-12 text-center pt-3">
                    <p-iconField iconPosition="left">
                        <p-inputIcon styleClass="pi pi-lock" />
                        <input type="password" pInputText placeholder="Contraseña" />
                    </p-iconField>
                </div>

                <!-- Recuerdame y olvidaste contraseña -->

                <div class="d-flex justify-content-around mt-1">
                    <div class="d-flex align-items-center gap-1">
                        <input class="form-check-input" type="checkbox" name="" id="">
                        <div class="pt-1" style="font-size: 0.9rem;">Recuerdame</div>
                    </div>
                    <div>
                        <a href="#" class="text-decoration-none text-info fw-semibold fst-italic"
                        style="font-size: 0.9rem;">¿Olvidaste tu contraseña?</a>
                    </div>
                </div>
                
                <!-- Boton ingresar -->

                <!-- <div class="btn btn-info text-white fw-semibold w-100 mt-4">
                    Ingresar
                </div> -->
                <input type="submit" value="Ingresar" class="btn btn-info text-white fw-semibold w-100 mt-4">

            </form>

            <div class="d-flex justify-content-center gap-1 mt-1">
                <div>¿No tienes una cuenta?</div>
                <a href="#" class="text-decoration-none text-info fw-semibold fst-italic"
                style="font-size: 0.9rem;">Registrarse</a>
            </div>

            <div class="mt-5">
                <p class="text-center fst-italic"
                style="font-size: 0.8rem;">Copyright © {{year}} Juanskpc </p>
            </div>
        </div>
</div>