<div class="row d-flex justify-content-center p-4">
    <div class="col-12 text-center pb-3">
        <i class="pi pi-key" style="font-size: 2.5rem"></i>
    </div>
    <hr>

    <div class="col-12 text-center pb-3">
        <h2>Recuperar contraseña</h2>
        <br>
        <p>Para restablecer la contraseña ingrese la siguiente información</p>
        <br>
        <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-id-card" />
            <input type="text" pInputText placeholder="Número de identificación" style="width: 20%;"/>
        </p-iconField>
        <br>
    </div>
    
    <div class="col-12 text-center">
        <button class="form-control btn btn-success" style="width: 20%; display: inline;"> Enviar </button>
    </div>
</div>